* {
  box-sizing: border-box;
}

.calendario {
  border: 1px solid blue;
  width: 50em;
  margin: 0 auto;
  height: 70em;
}

.mes {
  border: 1px solid red;
  width: 14em;
}

.nombre {
  border: 1px solid black;
  height: 2em;
}

.mes > div:nth-child(n+2) {
  border: 1px solid black;
  height: 2em;
}
